.comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-modal-content {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  text-align: center;
  max-height: 70vh; /* Set a maximum height for the modal content */
  overflow-x: auto;
  overflow-y: auto; /* Add this line to enable vertical scrolling inside the modal */
}

.comment-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
}

.comment-modal-close-button:hover {
  background-color: white;
  color: red;
}

.comment-modal-close-button:focus {
  outline: none;
}

.each-comment {
  display: flex;
}

.each-comment img {
  margin-right: 3%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.outer-comment-container{
   border-radius: 10px;
   display: flex;
   flex-direction: column; /* Make it a column layout */
}

.comment-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    padding:10px;
    background-color: #e0e0e0;
}

.user-profile-button{
  margin: 0;
  padding:0;
  text-align: left;
  background:none;
  color:black;
}

.user-profile-button p{
  margin: 0;
  padding:0;
  font-size:14px;
  text-align: left;
  font-weight:bold;
}

.user-profile-button:hover{
  color:blue;
  background:none;
}

.user-profile-button:focus{
  outline:none;
}

.comment-username{
  margin: 0;
  font-size:14px;
  text-align: left;
  font-weight:bold;
}

.comment-created-at{
  margin-top: 5px;
  margin-left: 10px;
  font-size:10px;
  text-align: left;
}

/* Style the third <p> to be on a new line and aligned to the left */
.comment-text {
    font-size:16px;
    text-align: left;
    margin: 0;
}

