/* navbar.css */

.nav-bar {
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar h1{
  color:gray;
  font-size:1.3rem;
}

.gray-link{
  color:gray;
}

.nav-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.nav-bar button {
  background: none;
  color: gray;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  border: none;
  cursor: pointer;
}

.nav-bar button:focus {
  outline: none;
}

.nav-bar button:hover {
  color: black;
  background: none;
}

.nav-bar-search-button input {
  margin-top: 8px;
  padding: 5px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin:10px 15px 0px 0px;
}

.nav-icon-label {
  font-size: 0.9rem;
}

.nav-icon:focus {
  outline: none;
}

.nav-icon:hover {
  color: black;
}
