/* navbar.css */

.nav-bar {
  border: none;
  background-color: white; /* Set background color */
}

.nav-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the items */
  margin-left: 25%; /* Add left margin */
  margin-right: 25%; /* Add right margin */
}


.nav-bar-content h1 {
  color: #333;
  font-size: 24px;
  margin: 0;
}

.nav-bar button {
  background: none;
  color: gray;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border: none;
  cursor: pointer;
}

.nav-bar button:focus {
  outline: none;
}

.nav-bar button:hover {
  color:black;
  background:none;
}

.nav-bar-search-button {
  display: flex;
  align-items: center; /* Vertically center the search input */
}

.nav-bar-search-button input {
  margin-top: 8px; /* Adjust the margin as needed */
  margin-left:18%;
  padding: 5px; /* Add padding for better visual appearance */
}

