.form-LContainer{
  width:60%;
  height:70%;
  display:flex;
  flex-direction: column; /* Align children vertically */
  margin-left:20%;
  margin-top:15%;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 5%;
  background-color:white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7); /* Add box shadow */
}

.close-button span{
  margin-left: 80%;
  background: none;
  border: none;
  font-size: 20px; /* Adjust the font size as needed */
  cursor: pointer;
  color: white; /* Change the color as needed */
  outline: none; /* Remove the default focus outline */
}


.close-button:hover {
  background: none; /* Change the hover/focus color as needed */
  color:red;
  outline: none; /* Remove the focus outline on hover/focus */
}

.form-LContainer h1{
  flex: 0 0 10%; /* 10% of the container height, fixed height */
  /*border: 2px solid red;*/
  font-size: 1.7rem;
  color: black;
  margin-top: 8%;
  text-align:center;
}

.login-error-message{
  color:red;
  margin-left:30%;
  margin-top:5%;
}

.login-group{
   width:100%;
   height:60%;
   /*border: 2px solid white;*/
}

.login-group label{
   display:block;
   margin-top:5%;
   margin-left:10%;
   color:black;
}

.login-group input{
  width: 80%;
  margin-left:10%;
  /*background-color:rgba(0, 0, 0, 0);*/
  background-color:white;
  border-color: black;
  color: black;
}

.login-group input:hover{
  transform: scale(1.01); /* Scale the input element on hover */
}

.login-group button{
  margin-top:10%;
  margin-left:25%;
  background-color: #751d48;
  border: 1px solid #d1d7de;
  border-radius: 15px;
  width:50%;
  font-size:17px;
  font-weight:bold;
}

.login-group button:hover{
   background-color: blue;
}

.login-signup-container{
  margin-top:5%;
  margin-left:5%;
  margin-bottom:10%;
}

.login-signup-container p{
  display:inline;
  color:black;
  margin-right:1%;
  font-size:16px;
}

.login-signup-container a{
  display:inline;
  color: #d4267d;
  font-weight:bold;
  font-size:17px;
}

.login-signup-container a:hover{
  color: #bf2271;
}

