.step4-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /*border: 5px solid red;*/
}

.outer-step4-container {
  width: 40%;
  height: auto;
  /*border: 2px solid blue;*/
  display: flex;
  flex-direction: column; /* Align children vertically */
  margin-bottom: 10px; /* Add some spacing between container and button */
  border-radius:10px;
  /*background:rgba(0,0,0,0.7);*/
  background:white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7); /* Add box shadow */
}

.error-message{
  width:100%;
  color: red;
  margin:0;
  padding:1%;
  background:none;
  border:none;
}

.outer-step4-container h1 {
  flex: 0 0 10%; /* 10% of the container height, fixed height */
  /*border: 2px solid red;*/
  font-size: 1.7rem;
  color: black;
  margin: 0;
  padding: 10px;
  text-align:center;
}

.interest-selector-container {
  flex-wrap: wrap;
  /*border: 2px solid green;*/
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.bubble, .related-bubble {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  cursor: pointer;
}

.bubble.selected, .related-bubble.selected {
  background-color: #7ac5cd;
  color: #ffffff;
}

.related-field {
  display:inline;
  flex-wrap: wrap;
}

.related-bubble {
  animation: fadeIn 2s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.step4-container button {
  background-color: #751d48;
  border: 1px solid #d1d7de;
  border-radius: 15px;
  padding: 10px 35px;
  font-size:17px;
  font-weight:bold;
}

.step4-container  button:hover {
  background-color: #000A8F;
}

{/*.step4-container .button-container {
  width: 50%;
}

.step4-container .button-container button {
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.step4-container .button-container button:hover {
  background-color: #45a049;
}*/}