.profile-container{
  width:35%;
  margin: 0 auto;
  /*border:2px solid pink;*/
}

.profile-pic-container {
  display:flex;
  /*position: relative;*/
  border-radius:10px;
  margin-bottom:2%;
  overflow:hidden;
  border:1px solid #d7d4d9;
  background-color:white;
  padding:5px 20px;
}

.profile-pic {
  margin-top:10px;
  width:150px;
  height:150px;
  border-radius: 10px;
  margin-right:3%;
}

.profile-details {
  display: flex;
  flex-direction: column; /* Stack the name and button vertically */
  /*border:1px solid red;*/
}

.follow-button-container button {
  background:white;
  border:2px solid gray;
  padding:3px 25px;
  border-radius:10px;
  color:black;
  font-weight:bold;
  margin-top: 20px; /* Add some spacing between the name and the button */
}

.follow-button-container button:hover{
  background-color:#d7d4d9;
}

.follow-button-container p{
  margin-top:5px;
  margin-left:10px;
}

.name-field p{
  font-size:1.7rem;
  font-weight:bold;
  margin:0;
}



/*Bio*/

.bio-container{
   border:1px solid #d7d4d9;
   margin-bottom:2%;
   padding:20px 20px;
   background-color:white;
   border-radius:10px;
   /*position: relative;  Add position relative to the container */
}

.bio-h2{
   text-align:left;
   color:black;
   font-size:1.5rem;
   font-weight:bold;
   font-family:Arial;
   margin-bottom:10px;
}

.bio-container p{
   text-align:justify;
   color:black;
   font-family:Arial;
}


/* External Links*/

.external-links-container{
   /*display: flex;
   flex-direction: column;  Stack the name and button vertically */
   border:1px solid #d7d4d9;
   margin-bottom:2%;
   padding:20px 20px;
   background-color:white;
   border-radius:10px;
   /*position: relative;*/
}

.external-links-container a{
   margin-left:1%;
}

/* Interests*/

.interests-container{
   border:1px solid #d7d4d9;
   margin-bottom:2%;
   padding:20px 20px;
   background-color:white;
   border-radius:10px;
}

.interests-h2{
   text-align:left;
   color:black;
   font-size:1.5rem;
   font-weight:bold;
   font-family:Arial;
   margin-bottom:10px;
}

.interests-container p{
   color:black;
   font-family:Arial;
}


.edit-profile-details-button{
  /*position: absolute;
  bottom: 2px; */
  margin-top:auto;
  margin-right:0px;
  padding:5px 5px;
  color:gray;
  background:white;
}

.edit-bio-button{
  /*position: absolute;
  bottom: 2px; */
  padding:5px 5px;
  color:gray;
  background:white;
  margin-left:95%;
}

.edit-links-button{
  /*position: absolute;
  bottom: 2px; */
  margin-left:95%;
  padding:5px 5px;
  color:gray;
  background:white;
}

.edit-interests-button{
  /*position: absolute;
  bottom: 2px; */
  padding:0px 5px;
  color:gray;
  margin-left:95%;
  background:white;
}

.edit-profile-details-button:hover,
.edit-bio-button:hover,
.edit-links-button:hover,
.edit-interests-button:hover {
  color: black;
  background: white;
}

.edit-profile-details-button:focus,
.edit-bio-button:focus,
.edit-links-button:focus,
.edit-interests-button:focus {
  outline:none;
}

.display-profile-top-buttons {
    display: flex;
    width: 100%;
    background-color:white;
}

.display-profile-top-buttons button {
    flex-grow: 1;
    width: 25%;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    color:blue;
    background-color:white;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.display-profile-top-buttons button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.display-profile-top-buttons button.clicked {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color:black;
}

.display-profile-top-buttons button:focus {
    outline:none;
}

